<!DOCTYPE html>
{% load staticfiles %}
{% load compress %}
<html lang="en">
	<head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>test</title>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}" />
	</head>
	<body screen_capture_injected="true">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="header-region"></nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar" id="sidebar-region"></div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="main-region"></div>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'spin.js/spin.js' %}"></script>
        <script type="text/javascript" src="{% static 'spin.js/jquery.spin.js' %}"></script>
        <script type="text/javascript" src="{% static 'underscore/underscore.js' %}"></script>
        <script type="text/javascript" src="{% static 'backbone/backbone.js' %}"></script>
        <script type="text/javascript" src="{% static 'backbone.picky/lib/backbone.picky.js' %}"></script>
        <script type="text/javascript" src="{% static 'Backbone.localStorage/backbone.localStorage.js' %}"></script>
        <script type="text/javascript" src="{% static 'marionette.backbone.syphon/lib/backbone.syphon.js' %}"></script>
        <script type="text/javascript" src="{% static 'marionette/lib/backbone.marionette.js' %}"></script>

        {% compress js %}
        <script src="{% static 'main/js/templates/main.jade' %}" type="text/jade"></script>
        <script src="{% static 'main/js/apps/config/marionette/templateCache.coffee' %}" type="text/coffeescript"></script>
        <script src="{% static 'main/js/app.coffee' %}" type="text/coffeescript"></script>
        <script src="{% static 'main/js/entities/common.coffee' %}" type="text/coffeescript"></script>
        <script src="{% static 'main/js/entities/header.coffee' %}" type="text/coffeescript"></script>
        <script src="{% static 'main/js/entities/sidebar.coffee' %}" type="text/coffeescript"></script>
        <script src="{% static 'main/js/entities/product.coffee' %}" type="text/coffeescript"></script>
        <script src="{% static 'main/js/common/views.coffee' %}" type="text/coffeescript"></script>
        <script src="{% static 'main/js/apps/products/products_app.coffee' %}" type="text/coffeescript"></script>
        <script src="{% static 'main/js/apps/products/list/list_view.coffee' %}" type="text/coffeescript"></script>
        <script src="{% static 'main/js/apps/products/list/list_controller.coffee' %}" type="text/coffeescript"></script>
        <script src="{% static 'main/js/apps/products/show/show_view.coffee' %}" type="text/coffeescript"></script>
        <script src="{% static 'main/js/apps/products/show/show_controller.coffee' %}" type="text/coffeescript"></script>
        <script src="{% static 'main/js/apps/header/header_app.coffee' %}" type="text/coffeescript"></script>
        <script src="{% static 'main/js/apps/header/list/list_view.coffee' %}" type="text/coffeescript"></script>
        <script src="{% static 'main/js/apps/header/list/list_controller.coffee' %}" type="text/coffeescript"></script>
        <script src="{% static 'main/js/apps/sidebar/sidebar_app.coffee' %}" type="text/coffeescript"></script>
        <script src="{% static 'main/js/apps/sidebar/list/list_view.coffee' %}" type="text/coffeescript"></script>
        <script src="{% static 'main/js/apps/sidebar/list/list_controller.coffee' %}" type="text/coffeescript"></script>
        {% endcompress %}
        <script>
            $(function(){
                ShopManager.start();
            })
        </script>
	</body>
</html>
